<!doctype html>
<html>
<head>
    <title>Apitunes</title>
    <base href="{{ url('homepage') | replace({'/app_dev.php': '/'}) | trim('/') }}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/styles.css') }}" />
</head>
<body>

<apitunes [apiEndpoint]="{{ url('api_json_ld_entrypoint') }}"></apitunes>

<script src="{{ asset('js/libs.js') }}"></script>
<script>
    System.config({ packages: {'js': {defaultExtension: 'js'}} });
    System.import('js/app');
</script>
</body>
</html>
