<h2>Home</h2>

<ul class="list-unstyled">
    <li *ng-for="#quote of quotes.quotes">
        <quote-view [quote]="quote"></quote-view>
    </li>
</ul>

<nav>
    <ul class="pagination">
        <li *ng-for="#link of links" [class]="link.active ? 'active' : ''">
            <a [router-link]="[ '/Quotes_List', {page: link.page} ]">{{link.text}}</a>
        </li>
    </ul>
</nav>
