.quoted-name-1 {
    color: #440073;
}

.quoted-name-2 {
    color: #73005d;
}

.quoted-name-3 {
    color: #730018;
}

.quoted-name-4 {
    color: #732d00;
}

.quoted-name-5 {
    color: #737200;
}

.quoted-name-6 {
    color: #2f7300;
}

.quoted-name-7 {
    color: #007316;
}

.quoted-name-8 {
    color: #00735b;
}

.quoted-name-9 {
    color: #004673;
}

.quoted-name-10 {
    color: #000173;
}
