<div class="container">
    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation"><a [router-link]="['/Quotes_List']">Accueil</a></li>
                <li role="presentation"><a [router-link]="['/Quotes_Top']">Top des Citations</a></li>
                <li role="presentation"><a [router-link]="['/Quotes_New']">Déposer une Citation</a></li>
            </ul>
        </nav>
        <h3 class="text-muted">Apitunes</h3>
    </div>

    <router-outlet></router-outlet>

</div>
