<div class="row">
    <form (submit)="onSubmit(hf)" #hf="form" class="form col-xs-12 col-md-6">
        <div class="form-group">
            <label for="title">Titre</label>
            <input type="text" [(ng-model)]="quote.title" class="form-control" required />
        </div>
        <div class="form-group">
            <label for="author">Auteur</label>
            <input type="text" [(ng-model)]="quote.author" class="form-control" required />
        </div>
        <div class="form-group">
            <label for="text">Texte</label>
            <textarea type="text" [(ng-model)]="quote.text" class="form-control" required></textarea>
        </div>

        <button type="submit" class="btn btn-lg">
            Balance ta connerie
        </button>
    </form>

    <section class="preview col-xs-12 col-md-6">
        <h3>Aperçu</h3>

        <quote-view [quote]="quote"></quote-view>

    </section>
</div>
