<blockquote>
    <h2>
        <a [router-link]="[ '/Quotes_Show', {id: quote.id } ]">{{quote.title}}</a>
    </h2>

    <p [inner-html]="quote.text | quotify"></p>
    <cite>{{quote.author}} — {{ quote.publishedAt | moment:"fromNow" }}</cite>
    <div class="votes">
        ( {{ quote.vote }} )
        <button (click)="voteUp()">
            +1
        </button>
        <button (click)="voteDown()">
            -1
        </button>
    </div>
</blockquote>
